<section class="mb-3 mt-3" id="scrollspyAbout">
    <h1 class="fs-2 mb-2">About</h1>
    <p class="fw-normal mb-4">I am a Software Developer based out of Bangalore, India. I specialises
        in SAP domain and am a <strong>Certified SAP Fiori/UI5 Developer and SAP BTP Full Stack
            developer.</strong></p>
    <div class="row" id="personalDetails">
        <div class="col">
            <div class="container">
                <div class="container mb-3">
                    <i class="fa-solid fa-angle-right fa-xl me-2"></i><span class=""><strong>Birthday:
                        </strong>22 May, 1995</span>
                </div>
                <div class="container mb-3">
                    <i class="fa-solid fa-angle-right fa-xl me-2"></i><span class=""><strong>Email:
                        </strong>shubhkarmansingh45@gmail.com</span>
                </div>
                <div class="container mb-3">
                    <i class="fa-solid fa-angle-right fa-xl me-2"></i><span class=""><strong>Phone:
                        </strong>+91-9463718559</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <div class="container mb-3">
                    <i class="fa-solid fa-angle-right fa-xl me-2"></i><span class=""><strong>City:
                        </strong>Bangalore, India</span>
                </div>
                <div class="container mb-3">
                    <i class="fa-solid fa-angle-right fa-xl me-2"></i><span class=""><strong>Degree:
                        </strong>Masters</span>
                </div>
            </div>
        </div>

    </div>
    <div class="container mt-3" id="skills">
        <div class="row">
            <div class="col d-flex align-items-start justify-content-start">
                <h1 class="fs-3 mb-3">Skills</h1>
            </div>
            <div class="col">
                <div class="row ">
                    <div class="col d-flex align-items-start justify-content-end">
                        <div class="d-flex align-items-center">
                            <a class="btn btn-outline-primary btn-sm" target="_blank"
                                download="Shubhkarman-Singh-CV.pdf"
                                href="/docs/Shubhkarman Singh-updated Resume.pdf">
                                <h1 class="fs-6 ">Download CV</h1>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="https://img.icons8.com/color/48/000000/sap.png" />
            </div>
            <div class="col">
                <img src="https://img.icons8.com/color/48/000000/javascript--v1.png" />
            </div>
            <div class="col">
                <img src="https://img.icons8.com/color/48/000000/nodejs.png" />
            </div>
            <div class="col">
                <img src="https://img.icons8.com/color/48/000000/html-5--v1.png" />
            </div>
            <div class="col">
                <img src="https://img.icons8.com/color/48/000000/css3.png" />
            </div>
            <div class="col">
                <img
                    src="https://img.icons8.com/external-flat-juicy-fish/60/000000/external-sql-coding-and-development-flat-flat-juicy-fish.png" />
            </div>
        </div>
    </div>
    <hr>
</section>