<section class="mb-3 mt-3" id="scrollspyAbout">
       <h1 class="fs-2 mb-2">About</h1> 
    <p class="fw-normal mb-4">I am a Software Developer based out of Bangalore, India. I specialises
        in SAP domain and am a <strong>Certified SAP Fiori/UI5 Developer and SAP BTP Full Stack
            developer.</strong></p>
    <div class="row" id="personalDetails">
        <div class="col">
            <div class="container">
                <div class="container mb-3">
                    <i class="fa-solid fa-angle-right fa-xl me-2"></i><span class=""><strong>Birthday:
                        </strong>22 May, 1995</span>
                </div>
                <div class="container mb-3">
                    <i class="fa-solid fa-angle-right fa-xl me-2"></i><span class=""><strong>Email:
                        </strong>shubhkarmansingh45@gmail.com</span>
                </div>
                <div class="container mb-3">
                    <i class="fa-solid fa-angle-right fa-xl me-2"></i><span class=""><strong>Phone:
                        </strong>+91-9463718559</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <div class="container mb-3">
                    <i class="fa-solid fa-angle-right fa-xl me-2"></i><span class=""><strong>City:
                        </strong>Bangalore, India</span>
                </div>
                <div class="container mb-3">
                    <i class="fa-solid fa-angle-right fa-xl me-2"></i><span class=""><strong>Degree:
                        </strong>Masters</span>
                </div>
            </div>
        </div>

    </div>
    <div class="container mt-3" id="skills">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="fs-3 mb-3">Skills</h1>
        </div>
        <div class="accordion border border-1 border-dark" id="accordionExample">
            <div class="accordion-item" style="background-color: transparent;">
                <h2 class="accordion-header" id="headingOne">
                    <button style="background-color: transparent;"
                        class="accordion-button border-bottom border-1 border-dark fw-bold" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Programming
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="d-flex align-items-center skillsicons justify-content-between">
                            <i class="fab"><img class="sapicon" src="images/sap.png"></img></i>
                            <i class="fa-brands fa-js"></i>
                            <i class="fa-brands fa-node"></i>
                            <i class="fa-brands fa-html5"></i>
                            <i class="fa-brands fa-css3-alt"></i>
                            <i class="fa-solid fa-database"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item" style="background-color: transparent;">
                <h2 class="accordion-header" id="headingTwo">
                    <button style="background-color: transparent;"
                        class="accordion-button collapsed border-bottom border-1 border-dark fw-bold" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                        SAP Tech
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="list-group" style="background-color: transparent;">
                            <li class="list-group-item" style="background-color: transparent;">SAP Fiori/UI5</li>
                            <li class="list-group-item" style="background-color: transparent;">SAP Cloud Application
                                Programmin Model(CAP)</li>
                            <li class="list-group-item" style="background-color: transparent;">SAP Cloud Workflow</li>
                            <li class="list-group-item" style="background-color: transparent;">SAP Business Technology
                                Platform</li>
                            <li class="list-group-item" style="background-color: transparent;">SAP S4HANA Cloud</li>
                            <li class="list-group-item" style="background-color: transparent;">SAP ABAP</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item" style="background-color: transparent;">
                <h2 class="accordion-header" id="headingThree">
                    <button style="background-color: transparent;"
                        class="accordion-button collapsed border-bottom border-1 border-dark fw-bold" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree">
                        Platforms & Tools
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="list-group" style="background-color: transparent;">
                            <li class="list-group-item" style="background-color: transparent;">SAP Web IDE</li>
                            <li class="list-group-item" style="background-color: transparent;">SAP Business Application
                                Studio
                            </li>
                            <li class="list-group-item" style="background-color: transparent;">SAP AppGyver</li>
                            </li>
                            <li class="list-group-item" style="background-color: transparent;">SAP Conversational AI
                            </li>
                            <li class="list-group-item" style="background-color: transparent;">SAP S4HANA Cloud
                            </li>
                            <li class="list-group-item" style="background-color: transparent;">SAP Data Intelligence
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item" style="background-color: transparent;">
                <h2 class="accordion-header" id="headingFour">
                    <button style="background-color: transparent;"
                        class="accordion-button collapsed border-bottom border-1 border-dark fw-bold" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                        aria-controls="collapseFour">
                        More
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="list-group" style="background-color: transparent;">
                            <li class="list-group-item" style="background-color: transparent;">Twilio – Cloud
                                Communication platform</li>
                            <li class="list-group-item" style="background-color: transparent;">DialogFlow – Google’s AI
                                Chatbot building platform
                            </li>
                            <li class="list-group-item" style="background-color: transparent;">JIRA Tool for tracking
                                incidents</li>
                            </li>
                            <li class="list-group-item" style="background-color: transparent;">Eclipse</li>
                            <li class="list-group-item" style="background-color: transparent;">Postman
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
            <p class="fs-6 fst-italic text-decoration-underline">Want to know more about me and my experience? Download my full CV  
                <a class="" target="_blank" download="Shubhkarman-Singh-CV.pdf"href="/docs/Shubhkarman Singh-updated Resume.pdf">here.</a></p>
        </div>
    </div>
    <hr>
</section>