<section class="mb-3" id="scrollspyContact">
    <div class="d-flex justify-content-center mb-3">
        <h1 class="fs-2">Contact</h1>
    </div>
    <div class="container" style="width: 90%;">
        <div class="row justify-content-center">
            <div class="col-sm contact-left-col rounded me-2">
                <div class="d-flex flex-column justify-content-center pt-5 pb-5">
                    <div class="d-flex justify-content-center mb-3">
                        <h2 class="text-white fs-1 font-weight-bolder contact-font">Let's Chat</h2>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="text-white contact-font text-center">Whether you have a question, want to start a
                            project or simply want to connect.</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="text-white contact-font text-center">Feel free to send me a message in the contact
                            form.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm contact-right-col rounded">
                <div class="d-flex justify-content-center mt-5 mb-5">
                    <form action="/sendEmail" method="POST" novalidate class="validated-form">
                        <div class="d-flex flex-row mt-3">
                            <div class="d-flex flex-column me-2">
                                <label for="name" class="form-label">Your Name</label>
                                <input type="text" name="contact[name]" id="name" class="form-control" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter your name.
                                </div>
                            </div>
                            <div class="d-flex flex-column">
                                <label for="email" class="form-label">Your Email</label>
                                <input type="email" class="form-control" id="email" name="contact[email]" placeholder=""
                                    required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter your email.
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-row">
                            <div class="d-flex flex-column" style="width: 100%;">
                                <label for="subject" class="form-label">Subject</label>
                                <input type="text" name="contact[subject]" id="subject" class="form-control" required
                                    style="width: 100%;">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter subject.
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="d-flex flex-column" style="width: 100%;">
                                <label for="message" class="form-label">Message</label>
                                <textarea class="form-control" name="contact[message]" id="message" rows="3"
                                    required></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter a message.
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-row justify-content-center mt-3 mb-1">
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</section>