<section class="mb-3" id="scrollspyProjects">
    <div class="d-flex justify-content-center">
        <h1 class="fs-2 pt-1 mb-3">Projects</h1>
    </div>

    <div class="all-cards d-flex justify-content-center">
        <div class="card-container m-2">
            <div class="card">
                <div class="front">
                    <div class="card-img">
                        <img src="/images/weather.PNG" alt="ccr" class="img-fluid" />
                    </div>
                    <div class="card-body">
                        <h3>WEATHER APP</h3>
                    </div>
                </div>
                <div class="back">
                    <div class="d-flex flex-column mt-1 justify-content-center">
                        <p class="">Weather Application build using SAP's low code application
                            platform known
                            as <strong>AppGyver</strong>.The backend server is built using nodejs and
                            deployed on <strong>SAP
                                Business Technology Platform</strong>.</p>
                        <div class="d-flex flex-row justify-content-evenly">
                            <div class="card-icon">
                                <div class="icon">
                                    <a href="https://github.com/Shubh-22-dev/weather-app" target="_blank"
                                        style="color: inherit;">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-icon">
                                <div class="icon">
                                    <a href="https://blogs.sap.com/2022/03/23/%E2%9B%85weather-app-with-sap-appgyver-and-btp/"
                                        target="_blank" style="color: inherit;">
                                        <i class="fab fa-solid fa-globe"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container m-2">
            <div class="card">
                <div class="front">
                    <div class="card-img">
                        <img src="/images/yelpcamp.PNG" alt="ccr" class="img-fluid" />
                    </div>
                    <div class="card-body">
                        <h3>YELPCAMP WEB APP</h3>
                    </div>
                </div>
                <div class="back">
                    <div class="d-flex flex-column mt-1 justify-content-center">
                        <p class="">YelpCamp is a web application where user can
                            explore and
                            leave
                            a
                            review for the campground. The app is build on nodejs and MongoDB with
                            all
                            capabilities of CRUD and deployed on <strong>Heroku</strong>.</p>
                        <div class="d-flex flex-row justify-content-evenly">
                            <div class="card-icon">
                                <div class="icon">
                                    <a href="https://github.com/Shubh-22-dev/yelpcamp" target="_blank"
                                        style="color: inherit;">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-icon">
                                <div class="icon">
                                    <a href="https://secret-ravine-41735.herokuapp.com/" target="_blank"
                                        style="color: inherit;">
                                        <i class="fab fa-solid fa-globe"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container m-2">
            <div class="card">
                <div class="front">
                    <div class="card-img">
                        <img src="/images/portfolio.PNG" alt="ccr" class="img-fluid" />
                    </div>
                    <div class="card-body">
                        <h3>MY PORTFOLIO</h3>
                    </div>
                </div>
                <div class="back">
                    <div class="d-flex flex-column mt-1 justify-content-center">
                        <p class="">This Portfolio can you can see right now is one of my mini
                            project. Its built using nodejs & express and deployed on
                            <strong>Render</strong> web hosting platform.</p>
                        <div class="d-flex flex-row justify-content-evenly">
                            <div class="card-icon">
                                <div class="icon">
                                    <a href="https://github.com/Shubh-22-dev/myportfolio" target="_blank"
                                        style="color: inherit;">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-icon">
                                <div class="icon">
                                    <a href="https://shubhisawesome.com/" target="_blank" style="color: inherit;">
                                        <i class="fab fa-solid fa-globe"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container m-2">
            <div class="card">
                <div class="front">
                    <div class="card-img ">
                        <h2 class="text-bold fw-bold glow pt-5">Coming Soon</h2>
                        <!-- <h2 class="text-warning text-bold fw-bold" style="--bs-text-opacity: .5;">Coming Soon</h2> -->
                    </div>
                    <div class="card-body">
                        <h3>MORE TO COME...</h3>
                    </div>
                </div>
                <div class="back">
                    <div class="d-flex flex-column mt-1 justify-content-center">
                        <p class="">This Portfolio can you can see right now is one of my mini
                            project. Its built using nodejs & express and deployed on
                            <strong>Render</strong> web hosting platform.</p>
                        <div class="d-flex flex-row justify-content-evenly">
                            <div class="card-icon">
                                <div class="icon">
                                    <a href="https://github.com/Shubh-22-dev/myportfolio" target="_blank"
                                        style="color: inherit;">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-icon">
                                <div class="icon">
                                    <a href="https://shubhisawesome.com/" target="_blank" style="color: inherit;">
                                        <i class="fab fa-solid fa-globe"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>