<section class="mb-3" id="scrollspyProjects">
    <h1 class="fs-2 pt-3">Projects</h1>
    <p class="fw-normal">I've worked on numerous projects.</p>
    <p> Below are some of my side projects that I've worked on along while working as a full time SAP
        developer.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mt-3" style="width: 18rem;">
                    <img src="/images/weather.PNG" class="card-img-top h-50" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Weather App</h5>
                        <p class="card-text show-read-more">Weather Application build using SAP's low code application
                            platform known
                            as <strong>AppGyver</strong>.The backend server is built using nodejs and
                            deployed on <strong>SAP
                                Business Technology Platform</strong>.</p>
                        <div class="row">
                            <div class="col">
                                <a href="https://github.com/Shubh-22-dev/weather-app" class="fa fa-github"
                                    target="_blank"></a>
                            </div>
                            <div class="col">
                                <a href="https://blogs.sap.com/2022/03/23/%E2%9B%85weather-app-with-sap-appgyver-and-btp/"
                                    class="fa fa-book" target="_blank"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mt-3" style="width: 18rem;">
                    <img src="/images/yelpcamp.PNG" class="card-img-top h-50" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">YelpCamp Clone</h5>
                        <p class="card-text show-read-more">YelpCamp is a web application where user can
                            explore and
                            leave
                            a
                            review for the campground. The app is build on nodejs and MongoDB with
                            all
                            capabilities of CRUD and deployed on <strong>Heroku</strong>.</p>
                        <div class="row">
                            <div class="col">
                                <a href="https://github.com/Shubh-22-dev/yelpcamp" class="fa fa-github"
                                    target="_blank"></a>
                            </div>
                            <div class="col">
                                <a href="https://secret-ravine-41735.herokuapp.com/" class="fa fa-book"
                                    target="_blank"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mt-3" style="width: 18rem;">
                    <img src="/images/portfolio.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Portfolio</h5>
                        <p class="card-text show-read-more">This Portfolio can you can see right now is one of my mini
                            project. Its built using nodejs & express and deployed on
                            <strong>Render</strong> web hosting platform.</p>
                        <div class="row">
                            <div class="col">
                                <a href="https://github.com/Shubh-22-dev/myportfolio" class="fa fa-github"
                                    target="_blank"></a>
                            </div>
                            <div class="col">
                                <a href="" class="fa fa-book" target="_blank"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mt-3" style="width: 18rem;">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">More coming soon..</h5>
                        <p class="card-text show-read-more">...... </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>